<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rhistel.meinlieblingsmonster">

    <!--
     Beschreibt den Aufbau der Applikation,
     um genau zu sein:
     - Welche Activities(GUIs) gibt es,
     - Welche Services(Hintergrundoperationen) es gibt
     - Welche Berechtigungen (Normal oder Gefaehrlich) werden genutzt
     - Welche Hardwar wird genutzt
     - Welche OS Interaktionen nehemen welche Bestandteile der App vor (ContentProvider)
     -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>